*{
  margin:0;
  padding:0;
}

body{
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto Mono', 'Times New Roman', Times, serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:auto auto;
  border-radius: 5px;
  background-color: #E8F5FE ;
}

.box__header{
  width: 100%;
  border-bottom: 2px solid #d2ecfd;
  display:flex;
  padding: 7px 0;
  background-color: #E8F5FE ;
  border-radius: 5px 5px 0 0 ;
  background-color: #ffffff;
}

.box__header h3{
  text-align: center;
  flex-grow: 9.5;
  letter-spacing: 1px;
}

.box__header p{
  flex-grow: 0.5;
  text-align: right;
  padding-right: 10px;
  color: #6C7D8B;
}

.box__content{
  display:flex;
  margin: 10px;
  width: 100%;
}

.box__content--profile{
  margin: 6px;
  width: auto;
}

.box__content--profile img{
  width: 50px;
  border-radius: 100%;
  margin-left: 10px;
}

.box__content--textarea{
  width: 100%;
  border: 3px solid #d2ecfd;
  border-radius: 5px;
  margin: 0 10px 0 3px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.box__content--textarea-text{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box__content--textarea-text p{
  line-height: 2;
  font-size: 14px;
}

.box__content--textarea-text p:nth-child(2){
  color: #6ac1f6;
}

.box__content--textarea-text a:link,.box__content--textarea-text a:visited{
  color: #6ac1f6;
  text-decoration: none;
}

.box__content--textarea-icon{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box__btn{
  margin: 5px 0 15px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  align-items: baseline;
}

.box__btn--left{
  margin-left: 80px;
}
.box__btn--left i{
  padding: 0 5px;
  height: 100%;
  color: #6ac1f6;
}
.box__btn--left img{
  border: 1.5px solid #6ac1f6fd;
  padding: 4px 3px 4px 3px ;
  border-radius: 5px;
  height: 100%;
  width: 14px;
  height: 100%;
}

.box__btn--right{
  margin-right: 10px;
}

.plus:link,.plus:visited {
  text-decoration: none;
}
.plus{
  text-align: center;
  border-radius: 100%;
  border: 2px solid #6ac1f6fd;
  padding: 2px 6px 2px 6px;
  background-color: #ffffff;
  font-weight: 700;
  color: #6ac1f6;
}

.tweet:link,.tweet:visited {
  text-decoration: none;
}

.tweet{
  text-align: center;
  border-radius: 100px;
  border: 2px solid #6ac1f6fd;
  padding: 2px 6px 2px 6px;
  background-color: #6ac1f6fd;
  color: #ffffff;
}